controllers: {
  joint_controller: {baud: 9600, port: /dev/ttyUSB0, type: joint_controller, 
  joints: [base_rotate, shoulder_tilt, elbow_tilt, wrist_tilt, wrist_rotate, open_gripper], publish_joint_states: true, publish_rate: 20 }
}

joints: {
  base_rotate:   {channel: 0, max_angle: 1.6, min_angle: -1.6, offset_angle: 0,  default_angle: 0,  invert: true},
  shoulder_tilt: {channel: 1, max_angle: 1.6, min_angle: -1.6, offset_angle: 0,  default_angle: 0,  invert: false},
  elbow_tilt:    {channel: 2, max_angle: 1.6, min_angle: -1.6, offset_angle: 0,  default_angle: 0,  invert: true},
  wrist_tilt:    {channel: 3, max_angle: 1.6, min_angle: -1.6, offset_angle: 0,  default_angle: 0,  invert: false},
  wrist_rotate:  {channel: 4, max_angle: 1.6, min_angle: -1.6, offset_angle: 0,  default_angle: 0,  invert: true},
  open_gripper:       {channel: 5, max_angle: 1.6, min_angle: 0,   offset_angle: 0.9, default_angle: 0,  invert: true}
}
 

